.list-docs{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.content{
    color: #A00000;
}

body {
    counter-reset: index;
}

table {
    border-collapse: separate;
}

.li-pagination a{
    padding: 2px 10px 2px 10px;
    display: block !important;
    width: 100% !important;
    height: 100% !important;
}