.list-docs{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.content{
    color: #A00000;
}

body {
    counter-reset: index;
}

table {
    border-collapse: separate;
}

tr td:first-child::before {
    counter-increment: index;
    content: counter(index);
}